*{
    box-sizing: border-box;
}
body {
    overflow-x: hidden !important;
}
header {
    width: 100%;
    min-height: 650px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('../image/netflix.png') no-repeat center center fixed;
    background-size: cover;
     border-bottom: 5px solid grey;
}
nav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    color: red;
}
.selected{
    margin-right: 10px;
    height: 25px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;

}
.menu-btn button{
    border: none;
    background-color: red;
    height: 25px;
    border-radius: 5px;
    color: white;
}
.textbox{
    /* border: 1px solid red; */
    max-width: 1136px;
    display: flex;
    flex-direction: column;
    color: white;
    margin: auto;
    margin-top: 70px;
}
.text{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    text-align: center
    

}
.logo{
    margin-left: 30px; ;

}
.text h1{
    font-size: 2.5rem;
    font-weight: bold;
}
.text>P{
    margin-top: 0 ;
    font-size: 1.5rem;
}
.start input{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 300px;
    height: 45px;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 40px; /* set line-height equal to the height of the input */
    color: white;

}
.btn-start{
    border: none;
    background: red;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.start{
    /* border: 1px solid red; */
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
    /* border: 1px solid red; */
    width: 100%;
}
input::placeholder {
      vertical-align: center; /* align placeholder text vertically */


}
.info small{
    color: red;
    margin-left: 30px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
   
    .info{
        width: 80%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .btn-start{
        order: 3;
        margin-top: 10px;
    }
    .info small{
        text-align: left;

    }
    .text h1{
        font-size: 2.2rem;
    }


}

@media only screen and (max-width: 500px) {
     .btn-start{
        margin-bottom: 40px;
    }

}

@media only screen and (max-width: 400px) {
    .menu-btn button{
        width:70px;

    }
    .selected{
        width: 70px;
    }
    .text h1{
        font-size: 1.5rem;
    }
    .text p{
        font-size: 1.2rem;
    }
    .btn-start{
        margin-bottom: 10px;
    }
    .info{
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
}

