*{
  box-sizing: border-box;
}
body,html{
  overflow-x: hidden !important;
}
.faq-head{
  margin-top: 90px;

}
.faq-head h1{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: white;

}
.footer-faq{
    /* border: 1px solid red; */
    max-width: 1600px;
    margin-top: 30px;
    margin: 0 auto;

}
.foot-faq{
    /* border: 1px solid red; */
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    margin: 0 auto;
    justify-content:center;
    align-items: center;
    width: 100%;
    margin-top: 80px;



}
.foot-body input{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 300px;
    height: 45px;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 40px; /* set line-height equal to the height of the input */
    color: white;

}
.foot-body{
    /* border: 1px solid red; */
    width: 130%;
    margin: 0 auto;
    

}
.foot-content button{
    border: none;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
   background-color: red !important;

}


.foot-content{
    width: 75%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    

    
}
.foot-content small{
  display: flex;
  padding-left: 30px;
}
.foot-faq p{
  text-align: center;
  font-size: 18px;

}
.foot-content small{
  color: red;
}


@media only screen and (max-width: 600px) {
  .foot-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .foot-content small{
    margin-right: 240px;

  }
  .foot-content button{
    margin-top: 10px;
    order: 3;


  }
  .foot-faq p{
    font-size: 1rem;
    text-align:  center;
  }

  
}
@media only screen and (max-width: 400px) {
  .faq-head h1{
    margin-left: 30px;
  }
}
